.Rproj.user
.Rhistory
.RData
.Ruserdata
rds/*
data/*
*.rds
*.pdf
*.history
*.jpg
Modularity_HW/ACISimport.R
Modularity_HW/Modularity_HW_cache/latex/__packages
Modularity_HW/Modularity_HW_Arsenaul.Rmd
Modularity_HW/Modularity_HW_cache/latex/import_44c27b1a41a13b6d25e8c1fce6ef2dd3.RData
Modularity_HW/Modularity_HW_cache/latex/import_44c27b1a41a13b6d25e8c1fce6ef2dd3.rdb
Modularity_HW/Modularity_HW_cache/latex/import_44c27b1a41a13b6d25e8c1fce6ef2dd3.rdx
.DS_Store
../.DS_Store
cb_2016_us_state_20m.shp
cb_2016_us_state_20m.shx
ne_50m_rivers_lake_centerlines.README.html
ne_50m_rivers_lake_centerlines.VERSION.txt
ne_50m_rivers_lake_centerlines.cpg
ne_50m_rivers_lake_centerlines.dbf
ne_50m_rivers_lake_centerlines.prj
ne_50m_rivers_lake_centerlines.shp
ne_50m_rivers_lake_centerlines.shx
Untitled.R
